	<ion-view view-title="Home" id="background">
	  <ion-content class="padding" style="margin-top:50px;" >
	      
	     <div class="list card">

				  <a href="#" ng-click='List_Click_CHeckBook()' class="item item-icon-left">
				    <i class="icon ion-ios-book"></i>
				    Issue Check Book
				  </a>
				  <a href="#" ng-click='List_Click_BlockCard()' class="item item-icon-left">
				    <i class="icon ion-card"></i>
				   	Block Card
				  </a>

				  <a href="#" ng-click='List_Click_ActiveCall()' class="item item-icon-left">
				    <i class="icon ion-ios-telephone"></i>
				    Activate Call
				  </a>
				
				  <a href="#" ng-click='List_Click_CustService()' class="item item-icon-left">
				    <i class="icon ion-ios-gear"></i>
				    Customer Service
				  </a>

				  

		</div>
	  </ion-content>
	</ion-view>