	<ion-view view-title="" id="background">
	  <ion-content class="padding" style="margin-top:50px;" >
				   <div class="list list-inset stretch">
			            <label class="item item-input input-margin stretch text-lable">
			                <input  type="text" placeholder="Full Name" ng-model="data.fname"  required>
			            </label>
			            
			             <label class="item item-input input-margin stretch text-lable">
			                <input  type="email" placeholder="Email" ng-model="data.email"  required>
			            </label>
			             <label class="item item-input input-margin stretch text-lable">
			                <input type="tel" placeholder="Mobile" ng-model="data.password" required>
			            </label>
           
       				</div>
     
         		<div>
           			<button class="button-bg button button-block button-calm input-margin" style="border-color:FF851D !important;"  ng-click="" >Apply</button>
            	</div>
	  </ion-content>
	</ion-view>		