	<ion-view view-title="" id="background">
	  <ion-content class="padding" style="margin-top:50px;" >
				<div class="card">
					   <div class="item item-avatar">
					      <img src="img/advance-card-map-madison.png">
					      <h2>Card Name</h2>
					   </div>

					   <div class="item item-body">
					      <img class="full-image" src="img/advance-card-map-madison.png">
					      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci. Nam tristique elit massa, quis faucibus augue finibus ac.
					</div>
				</div>
	  </ion-content>
	</ion-view>