	<ion-view view-title="{{Title}}" id="background">
	  <ion-content class="padding" style="margin-top:50px;" >
				<ion-card>

					  <img src="img/advance-card-map-madison.png">
					  <button fab fab-right fab-top>
					    <icon pin></icon>
					  </button>

					  <ion-item>
					    <icon item-left large football></icon>
					    <h2>Museum of Football</h2>
					    <p>11 N. Way St, Madison, WI 53703</p>
					  </ion-item>

					  <ion-item>
					    <icon item-left large wine></icon>
					    <h2>Institute of Fine Cocktails</h2>
					    <p>14 S. Hop Avenue, Madison, WI 53703</p>
					  </ion-item>

					  <ion-item>
					    <span item-left>18 min</span>
					    <span item-left>(2.6 mi)</span>
					    <button primary clear item-right>
					      <icon navigate></icon>
					      Start
					    </button>
				 	 </ion-item>

				</ion-card>
	  </ion-content>
	</ion-view>