  <ion-view view-title="Login" class="input-color">
    <ion-content class="padding" id="background">
      <div >

       <div class="list list-inset stretch">
        <div class="img-align">
            <img src="img/logo.png" class="img-responsive img-align" style="margin-bottom:10px">
        </div>
          <div class="input-margin">
            <label class="item item-input input-margin stretch text-lable">
                <input  type="text" placeholder="Username" ng-model="data.username"  required>
            </label>
            <label class="item item-input input-margin stretch text-lable">
                <input  type="password" placeholder="Password" ng-model="data.password" required>
            </label>
          </div>
        </div>
        <button class="button-bg button button-block button-calm input-margin" ng-click="login()">Secure Login</button>
         <div>
            <div style="width:49%"></div>
            <div style="text-align:center;  " >
               <div>OR</div>
            </div>
           
         <button class="button-bg button button-block button-calm input-margin" style="border-color:FF851D !important;" ng-click="signup()">New Account</button>
       </div>
      </div>


    </ion-content>
    <script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-modal-view>
</script>
 
  </ion-view>
