  <ion-view view-title="Sign Up" class="input-color">
    <ion-content class="padding" id="background">
     <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
 
      <div >

       <div class="list list-inset stretch">
            <label class="item item-input input-margin stretch text-lable">
                <input  type="text" placeholder="First Name" ng-model="data.fname"  required>
            </label>
             <label class="item item-input input-margin stretch text-lable">
                <input  type="text" placeholder="Last Name" ng-model="data.lname" >
            </label>
             <label class="item item-input input-margin stretch text-lable">
                <input  type="email" placeholder="Email" ng-model="data.email"  required>
            </label>
             <label class="item item-input input-margin stretch text-lable">
                <input type="password" placeholder="Password" ng-model="data.password" required>
            </label>
            <label class="item item-input input-margin stretch text-lable">
                <input  type="password" placeholder="Confirm Password" ng-model="data.cpassword" required>
            </label>
        </div>
     
         <div>
           <button class="button-bg button button-block button-calm input-margin"   ng-click="signup()" >SignUp</button>
            </div>
           
        
       </div>
      </div>


    </ion-content>
  
  </ion-view>

